h1 {
  font-family: 'Play', sans-serif;
}


/* dress section */

#dress-static {
    display: block;
    margin-left: 250px;
    margin-top: 50px;
    height: 800px;
}

#dress-section-gif {
    display: block;
    height: 600px;
}

#defense-dress {
    display: block;
    width: 60%;
}

.row {
	float: both;
}
.section {
  margin-top: 100px;
  margin-bottom: 3000px;
  padding-top: 100px;
}
